@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    *{
        padding: 0;
        margin: 0;
    }
    
    
    ::-webkit-scrollbar {
      width: 5px;
      position: relative;
    }
     
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    ::-webkit-scrollbar-thumb {
      background-color: #2e94c5;
      outline: 2px solid #2e94c5;
    }
  
    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled{
      pointer-events: none;
      opacity: 0.2;
    }
}